body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    color: cornsilk;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.orange{
    color: orange;
}
.red{
    color: red;
}
.b{
    color: black;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 10% ;
}
.experience-item{
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
}
#web-dev-experience{
    border-left: 7px solid;
    border-image: linear-gradient(blue, green);
    border-image-slice: 1;
}
#full-stack-experience{
    border-left: 7px solid;
    border-image: linear-gradient(tomato, green);
    border-image-slice: 1;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(green, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.top-banner{
    background-image: url(images/military-vector-illustration-army-background-260nw-1390816496.jpg);
    background-repeat:initial;
}
.dream-big{
    background-image: url(images/360_F_109268924_hox8WsB9RkBQdEa4StoBdwOhEAZ68R2f.jpg);
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
footer p{
    text-align: center;
}
