body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    color: cornsilk;
}
h1{
    font-size: 50px;
    
}
.orange{
    color: orange;
}
.red{
    color: red;
}
section{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 10% ;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(green, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.top-banner{
    background-image: url(images/military-vector-illustration-army-background-260nw-1390816496.jpg);
    background-repeat:initial;
}
.dream-big{
    background-image: url(images/360_F_109268924_hox8WsB9RkBQdEa4StoBdwOhEAZ68R2f.jpg);
}
